---
import type { MarkdownInstance } from 'astro'
import type { BlogPostFrontmatter } from '@types'
import Base from 'layouts/Base.astro'
import { formatDate } from '@utils'
import Download from '@components/Download.astro'
let posts = await Astro.glob<BlogPostFrontmatter>('./*.md')
type Post = MarkdownInstance<BlogPostFrontmatter>

posts = posts.sort((a: Post, b: Post): number => {
  if (a.frontmatter.order > b.frontmatter.order) return 1
  if (b.frontmatter.order > a.frontmatter.order) return -1
  return 0
})
---

<Base title="Some documentation" , description="Some documentation">
  <h1 class="mb-8 text-6xl">Some documentation</h1>
  {
    posts.map((post) => (
      <div class="py-4 border-b first:border-t">
        <a class="text-blue-700 hover:underline" href={post.url}>
          {post.frontmatter.title}
        </a>
      </div>
    ))
  }
  <Download />
</Base>
