---
import Base from 'layouts/Base.astro'
---

<Base title="Some-Code" , description="Contact Some-code">
  <div class="container mx-auto">
    <h1 class="mb-8 text-6xl">Contact Us</h1>
    <form>
      <!--Name input-->
      <div class="mb-6">
        <label
          for="exampleInput7"
          class="mb-2 text-lg"
          >Name
        </label>
        <input
          type="text"
          class="peer block min-h-[auto] w-full rounded border border-1 bg-transparent px-3 py-[0.32rem] leading-[1.6] focus:border-2"
          id="exampleInput7">
      </div>
  
      <!--Email input-->
      <div class="mb-6">
        <label
          for="exampleInput8"
          class="mb-2 text-lg">
          Email address
        </label>
        <input
          type="email"
          class="peer block min-h-[auto] w-full rounded border border-1 bg-transparent px-3 py-[0.32rem] leading-[1.6] focus:border-2"
          id="exampleInput8"
          />
      </div>
  
      <!--Message textarea-->
      <div class="mb-6">
        <label
          for="exampleFormControlTextarea13"
          class="mb-2 text-lg">
          Message
        </label>
       <textarea
          class="peer block min-h-[auto] w-full rounded border border-1 px-3 py-[0.32rem] leading-[1.6] focus:border-2"
          id="exampleFormControlTextarea13"
          rows="10"
        />
      </div>
    
      <!--Submit button-->
      <button
        type="submit"
        class="m-1 bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-yellow-500 hover:border-transparent rounded"
        >
        Submit
      </button>
    </form>
   </div>
</Base>



