---

---

<div class="container mx-auto text-center mt-6">
  <h2 class="mb-4 mt-5 text-3xl">Download Some code</h2>
  <a
    class="m-1 bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-yellow-500 hover:border-transparent rounded"
    href="https://files.some-code.com/some-code-server-amd64.deb"
  >
    Linux 64 bit deb server
  </a>
  <a
    class="m-1 bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-yellow-500 hover:border-transparent rounded"
    href="https://files.some-code.com/some_code_server_64.zip"
  >
    Windows 64 Bit server
  </a>
  <a
    class="m-1 bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-yellow-500 hover:border-transparent rounded"
    href="https://files.some-code.com/some_code_desktop_64.zip"
  >
    Windows 64 Bit Desktop
  </a>
  <a
    class="m-1 bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-yellow-500 hover:border-transparent rounded"
    href="https://files.some-code.com/SomeCodePortable_1.0.8_English.paf.exe"
  >
    Windows 64 Bit Portable
  </a>

  <h3 class="mb-4 mt-5 text-xl">
    Some code works on both Windows and Linux. Please contact us if you want to run Some code on a different OS. We will create a special build for
    you.
  </h3>
</div>
