---
 import logo from '/images/some-code-logo.png';
---
<div class="flex items-center border border-black-600 sticky top-0 ">
  <img src={logo} class="m-2" alt="Some code logo"/>
  <div class="text-3xl font-bold ml-1">
  Some code  
 </div>
  <div class="ml-auto">
    <ul class="flex">
  </ul>  
  </div>
</div>